<!DOCTYPE html>
<html lang="en">

<head>
    <title>fashion Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <center>
            <h2>Fashion Store Customer Detail</h2>
        </center>
        <center>
            <h4>You can Update your Phone and Email </h4>
        </center>
       
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>CustomerName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in customer %}
                    <tr>
                        <td>{{ r.name }}</td>
                        <td>{{r.email }}</td>
                        <td>{{ r.contactno }}</td>
                        <td><a href="/editcustomerpage/{{r.customer_id}}" class="btn btn-primaey">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
       
    </div>
    <script>
    function getId(id) {
        console.log(id)
    }
    </script>
</body>

</html>